NEXT_PUBLIC_AWS_REGION=us-east-1
NEXT_PUBLIC_USER_POOL_ID=us-east-1_YwswBCK4d
NEXT_PUBLIC_USER_POOL_CLIENT_ID=3qill98qf75kdgbcd7dsb5nor0
NEXT_PUBLIC_API_BASE=https://0rjze2z0jh.execute-api.us-east-1.amazonaws.com/v1
